.table {
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 100%; /* Set the width to 100% */
}

.table table {
    width: 100%;
}


.container {
    width: 100%;
    margin-right: 3%;
}

#bottom{
    width: 100%;
    margin-right: 6%;
}

* {
    box-sizing: border-box;
}


.tr{
    width: 100%;
}

.table *{
    border-collapse: collapse;
    gap: 5px;
}

th img{
    padding-left: 10px;
    vertical-align: middle;
}

td, th{
    padding: 15px;
    width: 30%;
}

.table tr{
    border-top: solid 1px #CCCCCC;
    height: 50px;
}

.table thead{
    background-color: var(--light-grey);
    text-align: left;
}

tr:nth-child(even) {
    background-color: var(--light-grey);
}

.status{
    padding: 2px 15px 4px 15px;
    font-weight: 700;
    border-radius: 60px;
    width: fit-content;
}

.status--active{
    background-color: var(--active);
}

.status--inactive{
    background-color: var(--inactive);
    color: var(--white);
}

.status--degraded{
    background-color: var(--degraded);
}

td:has(.button), #button-col{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button img{
    padding: 0;
    vertical-align: middle;
}