


.btadd {
    background-color: black;
    color: white; 
	padding:10px;
	display: inline-block;
    
}



.action{
	    display: inline-block;
		width:10%
}
.ref{
	display: inline-block;
	width:10%;
}
.void{
	display:inline-block;
	width:50%;
}
.se{
	display: inline-block;
	width:20%;
}
.fi{
	display: inline-block;
	
}
.blocrand{
	
margin-left:100px;

}

.block{
	width: 100%;
	height:800px;
	background-color:#e7e3e3; 
}
td{
	text-align:center;
	border: 10px solid white;
	background-color:#ffffff; 
}
table {
	margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 90%;
}
tr{
	text-align:center;
	margin-left:200px;
}
li{
    display: inline-block; 
	color: black;
   
}

a{
	color:black;
}
	
}

