
/*body{
    font-family: Inter, sans-serif;
    background-color: #f2f2f2;
}*/
 
   
h1{
  padding: 15px 0px 0px 50px;
   
  font-family: Arial, Helvetica, sans-serif;
  }

  #titlenav{
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0px;
  }

  #titlenav a{
    color: black;
    text-decoration: none;
  }

  #nobutton{
    display: inline-flex;
    margin-top: 10px;
  }

  #add_network{
    margin-left: 55%;
    background: black;
    border-radius: 0px;
    color: white;
    font-size: large;
    width: 250px;
    height: 50px;
  }


  #bold_network{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 50px;
    font-weight:bold;
    border-style: solid;
    border-color: #cfa40b;
    border-left: none;
    border-right: none;
    border-top: none;
    border-width:thick;
  }

  .buttonlist{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-top: 16px;
  }

 #actionBar{
    display: inline-flex;
    width: 100%;
  }

 #actionBar .buttons {
    border: 1px solid #ddd;
  }

  #actionBar #provision{
    border-left:none;
    width: 45%;
    height: 64px;
    padding-left: 3%;
    padding-right: 1%;
  }

  #actionBar #delete{
    border-left:none;
    width: 30%;
    height: 64px;
    padding-left: 1%;
    padding-right: 1%;
  }

   #actionBar #refresh{
    text-align: left;
    border-left:none;
    width: 60%;
    height: 64px;
    padding-left: 1%;
  }

 #actionBar #empty{
    height: 62.5px;
    width: 160%;
  }

  #actionBar input#zone_saisie {
    width: 100%;
    height: 62.5px;
    padding: 0; /* Supprimer le remplissage */
    outline : none;
    padding-left: 10px;
    font-size: large;
  }

  #actionBar #filter{
    border-right: none;
    width: 35%;
    padding-right: 2%;
    height: 64px;
  }


 #actionBar button {
    width: 100%;
    height: 100%;
   
    font-size: large;
    padding: 0; /* Supprimer le remplissage */
    border: none; /* Supprimer la bordure */
    background: none; /* Supprimer l'arrière-plan */
    letter-spacing: 0.5px;
  }


 #actionBar button p{
   
    font-size:small;
    margin : 0.5em 0;
   
 }

 #actionBar img{
    margin-right: 10px;
  }


/*MA PARTIE*/


#tableau {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  border-collapse:separate;
  border-spacing: 0px 8px;
  background-color: #f4f4f4;
}


#tableau td{
    background-color: #ffff;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    height: 50px;
}



#tableau .start{
    border-left: 1px solid #ddd;
} 

#tableau .end{
    border-right:1px solid #ddd;
}


#tableau th, #tableau td {
    
    padding: 15px;
    text-align: left;
}
#tableau th {
    font-size:15px;
    color: #333333;
    font-weight: lighter;
    border: none;
}

.active p {
    color: black;
    background-color:#3DE35A;
    
    border-radius: 12px;
    width: 60px;
    height: 18px;
    padding-left: 13px;
    padding-top: 1px;
}

.inactive {
    color: grey;}


.green img{
    padding-right: 6px;
}




#tableau .div_loading{
  color: black;
  background-color:#ecfdef;
  
  border-radius: 12px;
  width: 120px;
  height: 20px;
  padding-left: 8px;
  padding-top: 1px;
  display: flex;
  align-items: flex-start;
}

.div_loading img{
  padding-top: 4px;
  padding-right: 8px;
}


.draft p {
  color: black;
  background-color:#f4f4f4;
  
  border-radius: 12px;
  width: 50px;
  height: 18px;
  padding-left: 16px;
  padding-top: 1px;
}

.inactive p {
  color: white;
  background-color:black;
  
  border-radius: 12px;
  width: 75px;
  height: 18px;
  padding-left: 18px;
  padding-top: 1px;
}


/*BOUTON RECUP SUR OPENCLASSROOM*/


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  border: 2px solid #F16E00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-color: #F16E00;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}



#action_panel{
  

  background-color: white;
  border: #f16e00;
  border-style: solid;
  border-width: 5px;
  width: 10%;

  z-index: 10;
  position: absolute;

  border-left: none;
  border-right: none;
  border-bottom: none;
  box-shadow: 0px 0px 3px gray;

  font-size:small;
  letter-spacing: 0.5px;

  padding-right: 3px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;

  display: none;

}







  

